# Creating a date dimension table

In [1]:
# importing data analysis library
import pandas as pd

In [2]:
# first column
# creating the base range
date_range = pd.date_range(start= '1970-01-01',
                          end= '2030-12-31')
# range as df with format dd-mm-yyyy
date_dim = pd.DataFrame(data= date_range,
                        columns= ['date'])
date_dim['date'] = date_dim['date'].dt.strftime('%d-%m-%Y')

# displaying the df so far
date_dim

             date
0      01-01-1970
1      02-01-1970
2      03-01-1970
3      04-01-1970
4      05-01-1970
...           ...
22275  27-12-2030
22276  28-12-2030
22277  29-12-2030
22278  30-12-2030
22279  31-12-2030

[22280 rows x 1 columns]

In [3]:
# extracting features from the date
date_dim['year'] = date_dim['date'].apply(lambda x: 
                                          pd.to_datetime(x, 
                                          format= '%d-%m-%Y')
                                          .year)
date_dim['quarter'] = date_dim['date'].apply(lambda x:
                                             'Q' + str(pd.to_datetime(
                                             x, format= '%d-%m-%Y')
                                                       .quarter))
date_dim['month'] = date_dim['date'].apply(lambda x:
                                           pd.to_datetime(x,
                                           format= '%d-%m-%Y')
                                           .month)
date_dim['monthName'] = date_dim['date'].apply(lambda x:
                                               pd.to_datetime(
                                                x, format= '%d-%m-%Y')
                                               .strftime('%B'))
date_dim['year-quarter'] = date_dim.apply(lambda x: 
                              f"{x['year']}-{x['quarter']}", axis= 1)
date_dim['year-month'] = date_dim.apply(lambda x:
                              f"{x['monthName']} {x['year']}", axis= 1)
date_dim['day_of_week'] = date_dim['date'].apply(lambda x:
                              pd.to_datetime(x, format= '%d-%m-%Y')
                                                  .strftime('%A'))
date_dim['day#_of_week'] = date_dim['date'].apply(lambda x:
                              pd.to_datetime(x, format= '%d-%m-%Y')
                                                 .dayofweek + 1)
date_dim['day_of_month'] = date_dim['date'].apply(lambda x:
                                           pd.to_datetime(x,
                                           format= '%d-%m-%Y')
                                           .day)

date_dim

,date,year,quarter,month,monthName,year-quarter,year-month,day_of_week,day#_of_week,day_of_month
0,01-01-1970,1970,Q1,1,January,1970-Q1,January 1970,Thursday,4,1
1,02-01-1970,1970,Q1,1,January,1970-Q1,January 1970,Friday,5,2
2,03-01-1970,1970,Q1,1,January,1970-Q1,January 1970,Saturday,6,3
3,04-01-1970,1970,Q1,1,January,1970-Q1,January 1970,Sunday,7,4
4,05-01-1970,1970,Q1,1,January,1970-Q1,January 1970,Monday,1,5
...,...,...,...,...,...,...,...,...,...,...
22275,27-12-2030,2030,Q4,12,December,2030-Q4,December 2030,Friday,5,27
22276,28-12-2030,2030,Q4,12,December,2030-Q4,December 2030,Saturday,6,28
22277,29-12-2030,2030,Q4,12,December,2030-Q4,December 2030,Sunday,7,29
22278,30-12-2030,2030,Q4,12,December,2030-Q4,December 2030,Monday,1,30
22279,31-12-2030,2030,Q4,12,December,2030-Q4,December 2030,Tuesday,2,31

## Exporting to .csv for use in other data modelling software

In [4]:
date_dim.to_csv('date_dim.csv')